<div class="page-header">
<h1>Who are we?</h1>
</div>
<p class="text-paragraph">Report a Crime is a reporting service and mobile app, to report ongoing crimes.</p>
<div class="text-paragraph">
<%= video_tag "test.webm", :size => "320x640", :controls => true %>
</div>

