<div class="page-header">
<h1>Report a Crime</h1>
</div>

<% if current_user %>
<p class="text-paragraph">Welcome <%= @user.name =%> <%= @user.lastname %>. You have successfully logged in.</p>
<p class="text-paragraph">Now try creating a new report or watch for nearby crimes.</p>
<% else %>
<p class="text-paragraph">Sign up to start using ReportACrime.</p>
<% end %>

